<!--  <table class="table">
    <thead>
        <tr>
        <th >
            image
        </th>
            <th>
                name
            </th>
            <th>
                price
            </th>
            <th>
                untis in stock
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th >
                <img src="{{product.imageUrl}}" height="50"/>
            </th>
            <th>
              {{product.name}}
            </th>
            <th>
               {{product.unitPrice| currency:'USD'}}
            </th>
            <th>
              {{product.unitsInStock}} 
            </th>
        </tr>
    </tbody>

    
</table>--> 

<div class="main-content">
    <div class="section-content section-content-p30" >
        <div class="content-fluid">
            <div class="row">
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{product.id}}">
                        <img src="{{product.imageUrl}}" class="image-responsive"/>
                    </a>
                    <a routerLink="/products/{{product.id}}">
                        <h1>{{product.name}}</h1>
                    </a>
                        
                        <div>{{product.unitPrice|currency:'USD'}}</div>

                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div> 
                <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
                    No products found
                </div>               
            </div>
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination 
                                [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [maxSize]="3"
                                [collectionSize]="totalNumberElements"
                                [boundaryLinks]="true"
                                (pageChange)="listProducts()">


                                </ngb-pagination>
                            </div>
                            <div class="col-md-3 mt-2" style="text-align:right">
                                <span class="mr-2">Page size</span>
                                <select (change)="updateSizePage($any($event.target).value )">
                                    <option selected="true">5</option>
                                    <option >10</option>
                                    <option >20</option>
                                    <option >50</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
